.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.explore-menu h1{
    font-size: 2.5rem;
    font-weight: 500;
    color: #262626;
}
.explore-menu-text{
    max-width: 60%;
    color: #800000;
}
.explore-menu-list{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 20px 0px;
    overflow: scroll;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    
}
.explore-menu-list-item h3 {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px; /* or adjust as needed */
}

.explore-menu-list-item:hover h3 {
  color: #800000;
  font-weight: bold;
}

.explore-menu-text{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw, 16px);
}
.explore-menu-list-item .active{
    border: 2px solid #800000;
    padding: 2px;
}

@media (max-width: 1050px){
    .explore-menu-text{
        font-size: 14px;
        max-width: 100%;
    }
   
}